body {
  background-color: #808080;
  margin: 0;
  padding: 0; }

#header {
  background-color: white;
  height: 90px; }
  #header .logo img {
    width: 185px;
    height: 60px;
    margin-left: 150px;
    margin-top: 15px;
    float: left; }
  #header .icon {
    float: right;
    margin-right: 150px; }
    #header .icon img {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      margin-top: 30px; }

nav {
  font-family: "Helvetica";
  font-size: 22px;
  font-weight: bold;
  height: 50px;
  background-color: #cccccc;
  line-height: normal; }
  nav .nav-link {
    color: black;
    text-align: center; }
  nav .nav-link:hover {
    color: white; }
  nav .active {
    color: white;
    background-color: #808080; }
  nav .catalog {
    width: 27%; }
  nav .col-lg-6 {
    position: absolute;
    top: 97px; }
    nav .col-lg-6 .input-group {
      width: 300px;
      margin-left: 100px; }
      nav .col-lg-6 .input-group input {
        -webkit-border-radius: 0;
                border-radius: 0;
        border: none;
        background-color: #e6e6e6; }
      nav .col-lg-6 .input-group input:focus {
        border-color: grey; }
      nav .col-lg-6 .input-group button {
        padding: 0;
        -webkit-border-radius: 0;
                border-radius: 0;
        background-color: #b3b3b3;
        width: 45px; }
        nav .col-lg-6 .input-group button img {
          width: 20px;
          height: 20px; }

.sidebar {
  width: 27%;
  height: 100%;
  background-color: #cccccc;
  text-align: left;
  padding-bottom: 50px;
  font-size: 20px; }
  .sidebar ul .first {
    margin-top: 35px; }
  .sidebar ul .nav-item {
    -webkit-border-radius: 0;
            border-radius: 0; }
  .sidebar .nav-link {
    padding: 22px 10px 22px 42%;
    text-align: left; }
    .sidebar .nav-link .active {
      background-color: #808080; }
